<div class="panel panel-primary">
  <div class="panel-heading">
    {{ title }}
  </div>
  <div *ngIf="customer" class="panel-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group" *ngIf="customer.name">
        <label class="col-md-4">First Name</label>
        <input type="text" class="form-control" formControlName="first_name" #first_name [(ngModel)] = "customer.name.first"/>
      </div>
      <div *ngIf="angForm.controls['first_name'].invalid && (angForm.controls['first_name'].dirty || angForm.controls['first_name'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['first_name'].errors.required">
          First Name is required.
        </div>
      </div>
      <div class="form-group" *ngIf="customer.name">
        <label class="col-md-4">Last Name</label>
        <input type="text" class="form-control" formControlName="last_name" #last_name [(ngModel)] = "customer.name.last" />
      </div>
      <div *ngIf="angForm.controls['last_name'].invalid && (angForm.controls['last_name'].dirty || angForm.controls['last_name'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['last_name'].errors.required">
          Last Name is required.
        </div>
      </div>
        <div class="btn-toolbar">
          <button (click)="updateCustomer(customer)" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">Update</button>
          <a [routerLink]="['/index']" class="btn btn-primary">Back</a>
        </div>
    </form>
  </div>
</div>