<a [routerLink]="['/create']" class="btn btn-primary pull-left">New</a>

<table class="table table-hover">
  <thead>
  <tr>
      <td>First Name</td>
      <td>Last Name</td>
      <td>Gender</td>
      <td>Birthday</td>
      <td>Last Contact</td>
      <td>Costumer Lifetime Value</td>
      <td>Actions</td>
  </tr>
  </thead>

  <tbody>
      <tr *ngFor="let costumer of costumers">
          <td>{{ costumer.name.first }}</td>
          <td>{{ costumer.name.last }}</td>
          <td>{{ costumer.gender }}</td>
          <td>{{ costumer.birthday | date: 'MM/dd/yyyy' }}</td>
          <td>{{ costumer.lastContact | date: 'MM/dd/yyyy HH:mm:ss' }}</td>
          <td>{{ costumer.costumerLifetimeValue }}</td>
          <td>
            <div>
                <a [routerLink]="['/edit', costumer._id]" class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i></a>
                <button (click)="deleteCostumer(costumer._id)"  class="btn btn-default"><i class="glyphicon glyphicon-trash"></i></button>
            </div>
          </td>
      </tr>
  </tbody>
</table>