<div class="panel panel-primary">
  <div class="panel-heading">
    {{ title }}
  </div>
  <div *ngIf="customer" class="panel-body" >
    <form [formGroup]="angForm" novalidate class="form-horizontal">
      
      <div class="form-group" *ngIf="customer.name">
        <label class="col-sm-4 control-label" for="first_name">First Name:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" formControlName="first_name" #first_name [(ngModel)]="customer.name.first"/>
        </div>
        <div *ngIf="angForm.controls['first_name'].invalid && (angForm.controls['first_name'].dirty || angForm.controls['first_name'].touched)" class="col-sm-4">
            <div *ngIf="angForm.controls['first_name'].errors.required">
              First Name is required.
            </div>
          </div>
      </div>

      <div class="form-group" *ngIf="customer.name">
        <label class="col-sm-4 control-label" for="last_name">Last Name:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" formControlName="last_name" #last_name [(ngModel)]="customer.name.last"/>
        </div>
        <div *ngIf="angForm.controls['last_name'].invalid && (angForm.controls['last_name'].dirty || angForm.controls['last_name'].touched)" class="col-sm-4">
            <div *ngIf="angForm.controls['last_name'].errors.required">
              Last Name is required.
            </div>
          </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label">Gender:</label>
        <div class="col-sm-4">
            <div id="input-type" class="row">
              <div class="col-sm-6">
                  <label class="radio-inline">
                      <input class="form-check-input" type="radio" id="man_gender" formControlName="gender" #gender [(ngModel)]="customer.gender" value="m" checked>Man
                  </label>
              </div>
              <div class="col-sm-6">
                  <label class="radio-inline">
                      <input class="form-check-input" type="radio" id="woman_gender" formControlName="gender" #gender [(ngModel)]="customer.gender" value="w">Woman
                  </label>
              </div>
            </div>
        </div>
        <div *ngIf="angForm.controls['gender'].invalid && (angForm.controls['gender'].dirty || angForm.controls['gender'].touched)" class="col-sm-4">
          <div *ngIf="angForm.controls['gender'].errors.required">
            Gender is required.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label" for="birthday">Birthday:</label>
        <div class="col-sm-4">
            <div class="input-group date" data-provide="datepicker">
                <input type="text" class="form-control" id="birthday" date-picker format="MM/dd/yyyy" readonly
                  formControlName="birthday" #birthday [(ngModel)]="customer.birthday"/>
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>

            
        </div>
        <div *ngIf="angForm.controls['birthday'].invalid && (angForm.controls['birthday'].dirty || angForm.controls['birthday'].touched)" class="col-sm-4">
          <div *ngIf="angForm.controls['birthday'].errors.required">
            Birthday is required.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label" for="last_contact">Last Contact:</label>
        <div class="col-sm-4">
            <div class="input-group date" data-provide="datetimepicker">
                <input type="text" class="form-control" id="last_contact" formControlName="last_contact" 
                #last_contact [(ngModel)]="customer.lastContact" datetime-picker format="MM/DD/YYYY HH:mm" readonly/>
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>
        </div>
        <div *ngIf="angForm.controls['last_contact'].invalid && (angForm.controls['last_contact'].dirty || angForm.controls['last_contact'].touched)" class="col-sm-4">
          <div *ngIf="angForm.controls['last_contact'].errors.required">
            Last Contact is required.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label" for="customer_lifetime_value">Customer Lifetime Value:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="customer_lifetime_value" id="lifetime" 
                  formControlName="customer_lifetime_value" appCurrencyMask="9.99"
                  #customer_lifetime_value [(ngModel)]="customer.customerLifetimeValue"/>
        </div>
        <div *ngIf="angForm.controls['customer_lifetime_value'].invalid && (angForm.controls['customer_lifetime_value'].dirty || angForm.controls['customer_lifetime_value'].touched)" class="col-sm-4">
          <div *ngIf="angForm.controls['customer_lifetime_value'].errors.required">
            Customer Lifetime Value is required.
          </div>
        </div>
      </div>

      <div class="btn-toolbar">
        <button (click)="addCustomer(customer)" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">Add</button>
        <a [routerLink]="['/index']" class="btn btn-primary">Back</a>
      </div>
    </form>
  </div>
</div>